@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #16191d;
    --second-bg-color: #2b2e31;
    --text-color: #EEEEEE;
    --main-color: #00ADB5;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    padding: 7rem 6%;
}

html::-webkit-scrollbar {
    display: none;
}

/* ******************************************************* */

/********************** header design ********************/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: var(--second-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .2rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/* *********************************************** */

/********************** home ********************/

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-img {
    padding: 6rem;
}

.home-img img {
    width: 30vw;
}

.home-content h3 {
    font-size: 3rem;
    font-weight: 700;
}

.home-content h3:nth-last-of-type(2) {
    margin-bottom: 1rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 6.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2.5rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

/* ************************************************ */

/********************** about ********************/

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    background: var(--bg-color);
}

.about img {
    border-radius: 50%;
    padding: 10px solid #000000 ;
    width: 25vw;
    box-shadow: 0 0 10rem #000000;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.heading {
    text-align: center;
    font-size: 6rem;
    margin: 0;
    padding: 0;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
    font-size: 4rem;
}

.about-content h3 {
    font-size: 3rem;
}

.about-content p {
    font-size: 2rem;
    margin: 2rem 0 3rem;
}

/* **************************************************** */

/*********************** services *********************/

.services h2 {
    margin-bottom: 3rem;
    font-size: 4rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--second-bg-color);
    box-shadow: 0 0 3rem #121212;
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: none;
    transform: scale(1.02);
}

.services-box i {
    font-size: 8rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.2rem;
    padding: 1.5rem;
}

.services-box p {
    font-size: 1.4rem;
    margin: 1rem 0 3rem;
}

/* ***************************************************** */

/*********************** portfolio *********************/

.portfolio {
    background: var(--bg-color);
}

.portfolio h2 {
    margin-bottom: 6rem;
    font-size: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    display: flex;
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--bg-color);
}


/* *************************************************** */

/*********************** skills *********************/



/* *************************************************** */

/*********************** contact *********************/

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.contact-info {
    flex: 1;
    padding: 20px;
    align-items: start;
}

.png {
    align-items: center;
    margin: auto;
}

.png img {
    height: 45rem;
}

.box h2 {
    font-size: 4rem;
    margin: 1rem 0 1rem;
    text-align: start;
}

.box p {
    font-size: 2rem;
    margin: 2rem 0 2rem;
    text-align: start;
}

.highlight {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
}

.box p i {
    font-size: 2rem;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2.5rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-icons a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

/* *************************************************** */

/*********************** footer *********************/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 2.2rem;
    text-align: center;
    padding: 1rem;
}

.footer a{
    color: var(--main-color);
}


/* ******************************************************** */

/*********************** media query *********************/

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3%;
    }

    .about img {
        width: 10vw;
    }

    .portfolio {
        padding-bottom: 5rem;
    }

    .footer {
        padding: 2rem 3%;
    }

    .gif img {
        height: 30rem;
    }

}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem solid rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 3rem;
    }

    .home-content h1 {
        font-size: 6rem;
    }

    .home-img img {
        display: none;
    }

    .about {
        flex-direction: column;
    }

    .about img {
        padding: 5rem;
        width: 100%;
    }

    .home-content {
        padding: 3rem;
        margin: auto;
    }

    .portfolio h2 {
        margin-bottom: 4rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-container {
        flex-direction: column;
    }

}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }

}